.outer-feedback-container {
  height: 10px;
}

.feedback-container {
  flex: 1;
  height: 20px;
  display: flex;
  justify-content: center;
  opacity: 1;
}

.feedback {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
  align-self: center;
  justify-self: center;
}

.blank {
  opacity: 0;
  width: 50px;
  transform: translate(0, 10px);
}

.incorrect {
  background-color: black;
  color: white;
}

.correct,
.pangram {
  transform: translate(0, -10px);
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  transition: transform 1s linear;
}

.correct {
  background-color: white;
  border: 1px solid #ccc;
}

.pangram {
  border: 1px solid #f8cd05;
  background-color: #f8cd05;
}
