.hive-cell {
  fill: #e6e6e6;
  position: absolute;
  width: 100px;
  height: 100px;
}

.clicked,
.polygon:active {
  stroke-width: 15;
  stroke: #fff;
}

.letter {
  fill: black;
  font-weight: bold;
  font-size: 30px;
  text-anchor: middle;
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
