.hive-cell {
  fill: #e6e6e6;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.clicked {
  stroke-width: 15;
  stroke: #fff;
}

.letter {
  fill: black;
  font-weight: bold;
  font-size: 30px;
  text-anchor: middle;
  text-transform: uppercase;
}
