.hive {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  transform: translate(0, -90%);
}
.top-right {
  transform: translate(80%, -45%);
}
.top-left {
  transform: translate(-80%, -45%);
}
.bottom-right {
  transform: translate(80%, 45%);
}
.bottom-left {
  transform: translate(-80%, 45%);
}
.bottom {
  transform: translate(0, 90%);
}
.center {
  transform: translate(0, 0);
  fill: #f8cd05;
}
