.score-bar {
  position: relative;
  top: 10px;
  border-top: 1px solid #ccc;
  flex: 1;
  align-self: center;
  margin: 0 10px;
}

.progress-dots {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -30px;
}
.dot {
  position: relative;
  background-color: #ccc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
