.score {
  position: absolute;
  top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8cd05;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 5px;
  z-index: 10;
  transform: translate(0, -10px);
}

.score-amount {
  font-size: 0.9em;
  text-align: center;
}
