.score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8cd05;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  z-index: 10;
}

.score-amount {
  text-align: center;
}
