.no-score,
.word-score {
  text-align: right;
  padding-right: 30%;
  padding-bottom: 5px;
}

.no-score {
  opacity: 1;
  color: white;
  transform: translate(40px, -15px);
}

.word-score {
  color: black;
  font-weight: bold;
  transform: translate(20px, -30px);
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  transition: transform 1s linear;
}
